.buttonsContainer {
    display: flex;
    gap: 15px;
}

.responseContainer {
    display: flex;
    align-items: center;
}

.imageContainer {
    margin: 30px;
}

.image {
    width: 300px;
    height: auto;
}

.textContainer{
}

.code {
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 10px;
}

.text {
    font-size: 16px;
}
.info {
}