.buttonsContainer {
    display: flex;
    gap: 21px;

    button {
        background-color: #0066CC;
        color: white;
        font-size: 14px;
    }
    :disabled {
        opacity: 0.5;
    }
}

.clock {
    margin-top: 26px;
    margin-bottom: 8px;
    font-size: 20px;
}

.watch {
}

.watch strong {
}

.more {
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 27px;
    font-size: 16px;
}