.App {
    --header_height: 60px;
}

.hw {
    margin: 0 auto;
    width: 600px;
}

.hw input {
    border: 1px solid #D9D9D9;
    border-radius: 2px;
    height: 25px;
    margin-top: 10px;
}

.hw input:focus {
    border-color: #0066CC;
}

#hw10-button-start-loading {
    margin-top: 42px;
}

.hwTitle {
    margin: 0 auto;
    padding-top: 71px;
    padding-bottom: 10px;
    width: 600px;
    font-weight: bold;
    border-bottom: 2px solid #e8e8e8;
}