.friendMessage {

}

.friendImageAndText {
    display: flex;
}

.friendImageAndText img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.friendText {
    background-color: #e8e8e8;
    border-radius: 8px;
    padding: 5px;
}

.friendText:after {

}

.friendName {
    font-weight: bold;
    font-size: 12px;
}

.friendMessageText {

}

.friendTime {
    font-weight: bold;
    font-size: 10px;
    margin-left: 6px;
}
