.sendForm {

}

.textarea {
    width: 500px;
}

.button {
    background-color: #1282ed;
    padding: 5px 25px;
    border: 1px solid #fff;
    border-radius: 30px;
    color: white;
    margin-left: 10px;
}

.button:hover {

}
.button:active {

}
